div(class="section")
  div(class="label") Method
  div(class="value delete") delete
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:1337/api/animals/{id}
div(class="section")
  div(class="label") Description
  div(class="value") Deletes the the animal associated with the numeric ID provided in the route unless it is one of the protected animals.
div(class="section")
  div(class="label") Response
  div(class="value") Successfully deleted the animal with ID: 1
