div(class="section")
  div(class="label") Method
  div(class="value get") get
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:1337/api/animals/{id}
div(class="section")
  div(class="label") Description
  div(class="value") Returns the animal associated with the numeric ID provided in the route.
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
      | {
      |   id: 1,
      |   name: "Tommy",
      |   species: "Tiger",
      |   protected: true,
      |   departmentId: 1,
      |   createdAt: "2020-05-05T23:26:47.000Z",
      |   updatedAt: "2020-05-05T23:26:47.000Z",
      |   deletedAt: null,
      |   department: {
      |     id: 1,
      |     name: "Big Cats",
      |     protected: true,
      |     createdAt: "2020-05-05T23:26:47.000Z",
      |     updatedAt: "2020-05-05T23:26:47.000Z",
      |     deletedAt: null
      |   }
      | }
