div(class="section")
  div(class="label") Method
  div(class="value post") post
div(class="section")
  div(class="label") Route
  div(class="value") http://localhost:1337/api/zookeepers
div(class="section")
  div(class="label") Headers
  div(class="value")
    div(class="header-name") Content-Type
    div(class="header-value") application/json
div(class="section")
  div(class="label") Body
  div(class="value")
    pre
      | {
      |   "name": "Dave Yourgrau",
      |   "title": "Captain, Lazy River Boat",
      |   "departmentId": 2
      | }
div(class="section")
  div(class="label") Description
  div(class="value") Creates a new zoo keeper from the data provided in the body.
div(class="section")
  div(class="label") Response
  div(class="value")
    pre
      | {
      |   "id": 4,
      |   "name": "Dave Yourgrau",
      |   "title": "Captain, Lazy River Boat",
      |   "protected": false,
      |   "departmentId": 2,
      |   "createdAt": "2020-05-06T00:06:19.148Z",
      |   "updatedAt": "2020-05-06T00:06:19.148Z"
      | }
