body {
  background-color: #f9f9f9;
}

a,
a:active,
a:hover,
a:visited {
  color: #F5A631;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.content {
  font-size: 20px;
  font-weight: 300;
  margin: 30px auto;
  padding: 20px;
  width: 75%;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.doc-panels {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.sidebar {
  margin: 0 25px 0 10%;
  min-width: 25%;
}

.endpoint {
  margin: 10px;
  padding: 2px 5px;
}

.endpoint a {
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.selected {
  background-color: rgba(102, 102, 102, .35);

  position: relative;
}

.selected::after {
	border: solid transparent;
	border-color: rgba(136, 183, 213, 0);
	border-left-color: rgba(102, 102, 102, .35);
	border-width: 14px;
	content: " ";
	height: 0;
	left: 100%;
	margin-top: -15px;
	pointer-events: none;
	position: absolute;
	top: 50%;
	width: 0;
}

.get {
  color: darkgreen;
  font-weight: 600;
  text-transform: uppercase;
}

.post {
  color: coral;
  font-weight: 600;
  text-transform: uppercase;
}

.delete {
  color: red;
  font-weight: 600;
  text-transform: uppercase;
}

.newroute {
  margin-top: 25px;
}

.doc {
  min-width: 40%;
  max-width: 50%;
}

.hidden {
  display: none;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
}

.label {
  font-weight: 600;
}

.value {
  display: flex;
  flex-direction: row;
  margin: 5px 20px;
}

.header-name {
  margin-right: 10px;
}

.header-name::after {
  content: ':';
}

pre {
  font-family: monospace;
  font-size: 18px;
}

.account-form {
  display: flex;
  justify-content: center;
}

#email, #password, #confirm {
  width: 300px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-size: 16px;
  margin-left: 5px;
}

input {
  border-color: rgb(102, 102, 102);
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
  padding: 5px;
}

input[type='text'], input[type='password'] {
  border-radius: 3px;
  width: 225px;
}

input[type='text']::placeholder,
input[type='password']::placeholder {
  color: rgb(200, 200, 200);
}

input[type='submit'] {
  background-color: rgb(102, 102, 102);
  border-radius: 8px;
  color: #ffffff;
  margin: 10px auto;
  outline-color: transparent;
  outline-style: none;
  width: 100px;
}

input[type='submit']:active {
  background-color: #ffffff;
  color: rgb(102, 102, 102);
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
}

th {
  padding: 8px 0;
  border-bottom: 1px solid black;
}

td {
  padding: 8px 0 5px;
  text-align: center;
}

.newform {
  margin-top: 30px;
}

.fa-times {
  color: red;
}

.fa-arrow-up,
.fa-arrow-down {
  color: #9B9B9B;
  margin-left: 5px;
}
